10/30, 5:00p - 6:00p, Connie, Zachary, and Cindy
Order and Time Length:
Connie, 30 minutes
Cindy, 30 minutes

11/1, 5:00p - 7:00p, Connie, Zachary, and Cindy
Order and Time Length:
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes

11/2, 5:00p - 7:00p, Connie, Zachary, and Cindy
Order and Time Length:
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes

11/3, 5:00p - 9:00p, Connie, Zachary, and Cindy
Order and Time Length:
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes

11/13, 5:00p - 8:30p, Connie, Zachary, and Cindy
Order and Time Length:
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes

11/14, 5:00p - 8:30p, Connie, Zachary, and Cindy
Order and Time Length:
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes

11/15, 5:00p - 7:30p, Connie, Zachary, and Cindy
Order and Time Length:
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes

11/16, 5:00p - 9:30p, Connie, Zachary, and Cindy
Order and Time Length:
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes

11/17, 5:00p - 12:00a, Connie, Zachary, and Cindy
Order and Time Length:
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes

11/18, 1:00p - 12:00a, Connie, Zachary, and Cindy
Order and Time Length:
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes
Cindy, 30 minutes
Zachary, 30 minutes
Connie, 30 minutes

11/19, 4:00p - 8:00p, Connie, Zachary, and Cindy
Order and Time Length:
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
Zachary, 30 minutes
Cindy, 30 minutes
Connie, 30 minutes
